body {
  margin: 16px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.9864320728291317) 6%, rgba(0,212,255,1) 89%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  font-size: 100%;
  
}

.location-header{
  font-family: 'Open Sans', sans-serif;
}

.search{
  border-radius: 1rem;
  width: 50%;
}
.address h1{
  font-size: 1.7rem;
  font-weight: bold;
}

.wth-main h3{
  font-size: 1.2rem;
}

.temp-now {
  font-size: 3rem;
}

.f-text {
  font-size: 1rem;
}

.weather-data h3{
  font-size: 1.2rem;
}

.weather-data h5{
  font-size: 0.7rem;
}

.h-text {
  font-size: 1rem;
}

.w-data {
  /* background-image: url(./images/Thunder.gif); */
  border-radius:1rem;
  background-repeat:round;
}

.w-today .card{
  width: 25vw;
  height: 12vh;
}
.icon {
  width: 2rem;
  height: 2rem;
}

footer h4 {
  font-size: 0.7rem;
}